* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    background: #efefef;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* --------- Common ---------- */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(1140 - 40px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    padding: 0 50px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    line-height: var(--height);
    border-radius: 999px;
    color: #fff;
    background: var(--primary-color);
    transition: 0.25s;
}

.btn:hover {
    border-color: transparent;
    color: #143c3c;
    background: #e2eddf;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.section-desc {
    font-weight: 500;
    color: #7d8188;
}

.section-desc.lv1 {
    font-size: 1.4rem;
    line-height: 1.71;
}

.section-desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.62;
}

.section-desc.lv3 {
    font-size: 1.8rem;
    line-height: 1.56;
}

/* ---------- Header --------- */
.header {
    background: #efefef;
}

.header--sticky {
    position: sticky;
    top: -16px;
    z-index: 1;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 28px 0 14px;
}

.navbar__list {
    display: flex;
    gap: 20px;
    margin-left: 406px;
}

.navbar__link {
    position: relative;
    padding: 8px 10px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__link:hover {
    color: #152427;
}

.navbar__link--active {
    color: #152427;
}

.navbar__link--active::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 1.5px;
    right: 10px;
    left: 10px;
    bottom: -25px;
    background: #143c3c;
}

.header-action__cta {
    margin-left: auto;
}

/* ---------- Hero ---------- */
.hero__inner {
    display: flex;
    margin-top: 60px;
}

.hero__line {
    height: 1px;
    background: linear-gradient(
        90deg,
        #d5d5d500 0,
        #dddcdc 50%,
        #d5d5d500 100%
    );
}

.hero__content {
    margin-right: 60px;
}

.hero__heading {
    margin-top: 43px;
    width: 368px;
    font-family: "Public Sans", sans-serif;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 42px;
}

.hero__btn {
    padding: 0 30px;
}

.hero__watch-video {
    display: flex;
    column-gap: 15px;
    align-items: center;
    border: none;
    cursor: pointer;
}

.hero__watch-video:hover .hero__play-circle-border {
    border-color: #83a17d;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(225deg);
}

.hero__watch-video:hover .hero__play-icon {
    background: #143c3c;
    transform: rotate(135deg);
}

.hero__watch-video:hover .hero__cta-title {
    color: #83a17d;
}

.hero__play-circle-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    transform: rotate(45deg);
    border-top-color: transparent;
    border-right-color: transparent;
    transition-duration: 0.3s;
}

.hero__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(75deg);
}

.hero__cta-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

.hero__blur {
    position: absolute;
    top: 280px;
    right: 390px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__images {
    display: flex;
    gap: 20px;
}

.hero__img {
    position: relative;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    top: 77px;
}

.hero__decor {
    position: absolute;
    left: 440px;
    top: 134px;
}

.hero__decor:last-child {
    top: 396px;
    left: 690px;
    transform: rotate(180deg);
}

/* -------- Clients --------- */
.clients {
    margin-top: 207px;
}

.clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 85px 122px;
    background: #e2eddf;
    border-radius: 9999px;
}

.clients__icon {
    margin-right: 11px;
}

/* ---------- Service --------- */
.service {
    margin-top: 106px;
}

.service__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.service__label {
    margin-left: 21px;
    color: #152427;
}

.service__label::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    top: -4px;
    left: -21px;
    background: #152427;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
}

.service__heading::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    left: 8px;
    bottom: 8px;
    background: #152427;
}

.service__control {
    position: relative;
    display: flex;
    gap: 17px;
    right: 73px;
    top: -9px;
}

.service__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: none;
    border-radius: 50%;
    background: #e2eddf;
    color: var(--primary-color);
    transition: 0.25s;
}

.service__control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    max-width: 370px;
    border-radius: 20px;
    transition: 0.25s;
    overflow: hidden;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    background: #fff;
}

.service-item:hover .service-item__thumb {
    transform: scale(1.1);
    cursor: pointer;
}

.service-item__img-bg {
    overflow: hidden;
}

.service-item__thumb {
    display: block;
    min-width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.service-item__content {
    padding: 24px 84px 24px 18px;
}

.service-item__title {
    display: inline-block;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.service-item__desc {
    margin-top: 18px;
    width: 268px;
}

/* ---------- About ---------- */
.about {
    margin-top: 157px;
}

.about__inner {
    display: flex;
    gap: 55px;
}

.about__media {
    position: relative;
    display: flex;
    gap: 21px;
    padding: 13px 30px 0 0;
    width: 57%;
}

.about__img {
    width: 284px;
    height: 480px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
    object-fit: cover;
}

.about__img:first-child {
    margin-top: 90px;
}

.about__decor {
    position: absolute;
    left: 50px;
    top: -20px;
    width: 500px;
}

.about__media-block {
    position: absolute;
    bottom: 8px;
    right: 30px;
    min-width: 143px;
    height: 144px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about-block__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}

.about-block__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about-block__percent {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__progress {
    margin-top: 3px;
    width: 101px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__progress-value {
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.about-block__state {
    margin: 3px 3px 0 54px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about-block__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background: #eaeaea;
    border-radius: 50%;
}

.about-block__circle-inside {
    width: 5px;
    height: 5px;
    background: #143c3c;
    border-radius: 50%;
}

.about-block__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.about-block__team {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
}

.about-block__img-team {
    display: flex;
}

.about-block__img {
    display: block;
    margin-left: -6px;
}

.about__content {
    width: 43%;
}

.about__label {
    margin-left: 22px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}

.about__label::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    top: -4px;
    left: -21px;
    background: #152427;
}

.about__heading {
    margin-top: 20px;
    max-width: 483px;
}

.about__desc {
    margin-top: 11px;
}

.about__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}

.about__sub-percent {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about__sub-desc {
    max-width: 364px;
}

.about__separate {
    margin-top: 20px;
    width: 485px;
    height: 0px;
    border: 1px solid #83a17d;
}

.about-block__img {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

/* ---------- Process --------- */
.process {
    margin-top: 79px;
}

.process__inner {
    padding-top: 36px;
    position: relative;
}

.process__label {
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}

.process__label::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    top: -4px;
    left: -20px;
    background: #152427;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    left: 8px;
    bottom: 8px;
    background: #152427;
}

.process__img {
    position: absolute;
    top: 0;
    right: 92px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    display: flex;
    align-items: center;
    height: 155px;
    border-bottom: 1px solid #83a17d;
    transition: 0.3s;
}

.process-item:hover {
    background: #e2eddf;
    border-radius: 33px;
    flex-shrink: 0;
    border-color: transparent;
}

.process-item:first-child {
    height: 185px;
}

.process-item__num {
    margin-left: 30px;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143c3c;
}

.process-item__heading {
    margin-left: 50px;
}

.process-item:first-child .process-item__heading {
    margin-left: 64px;
}

.process-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.process-item__more {
    display: none;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
}

.process-item:hover .process-item__more {
    display: inline-block;
    text-decoration: underline;
    animation: showMoreLink 0.5s linear;
}

@keyframes showMoreLink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.process__desc {
    margin-left: 175px;
    max-width: 572px;
}

.process-item:last-child .process__desc {
    margin-left: 225px;
}

/* ----------- Feature ---------- */
.feature {
    position: relative;
    margin-top: 148px;
    background: #143c3c;
}

.feature__inner {
    padding: 116px 0 63px;
}

.feature__row {
    display: flex;
    margin-bottom: 65px;
    align-items: center;
}

.feature__heading {
    max-width: 457px;
    margin-right: 93px;
    color: #e7f9f9;
}

.feature__heading::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    left: 8px;
    bottom: 8px;
    background: #83a17d;
}

.feature__desc {
    max-width: 590px;
}

.process__arrow {
    display: block;
    cursor: pointer;
}

.feature__link {
    display: inline-block;
    margin: 13px 26px 0 0;
    color: #ffffff;
}

.process__line {
    position: absolute;
    width: 541px;
    height: 360px;
    top: -120px;
    right: -150px;
}

.process__union {
    position: absolute;
    top: -60px;
    right: -50px;
}

.feature__video {
    position: relative;
}

.feature__bg {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.feature__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.feature__btn:hover {
    background: #83a17d;
    cursor: pointer;
}

.feature__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- Share ---------- */
.share__inner {
    margin-top: 140px;
}

.share__heading {
    max-width: 520px;
    margin: auto;
    text-align: center;
}

.share__desc {
    max-width: 547px;
    margin: 20px auto auto;
    text-align: center;
}

.share__list {
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
}

.share-item {
    max-width: 350px;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.3s;
}

.share-item:first-child .share-item__desc {
    max-width: 286px;
}

.share-item:hover {
    background: #fff;
    border-color: transparent;
    transform: translateY(-60px);
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    cursor: pointer;
}

.share-item__icon {
    margin: 70px 155px 0 155px;
}

.share-item__title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    color: #152427;
}

.share-item__desc {
    max-width: 264px;
    margin: 9px auto auto;
    text-align: center;
}

/* ---------- Blog ----------- */
.blog {
    margin-top: 184px;
}

.blog__label {
    margin-left: 21px;
}

.blog__label::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    top: -4px;
    left: -20px;
    background: #152427;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    position: relative;
    margin-top: 10px;
    max-width: 520px;
}

.blog__heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    right: -40px;
    bottom: 20px;
    background: #152427;
}

.blog__desc {
    max-width: 409px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item {
    max-width: 360px;
    border-radius: 40px 40px 0px 0px;
    transition: 0.25s;
    overflow: hidden;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 40px 40px 20px 20px;
    background: #ffffff;
}

.blog-item:hover .blog-item__body {
    padding: 0 30px 12px;
}

.blog-item:hover .blog-item__thumb {
    transform: scale(1.1);
}

.blog-item__img {
    overflow: hidden;
}

.blog-item__thumb {
    display: block;
    min-width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    transition: 0.25s;
}

.blog-item__body {
    max-width: 360px;
    margin-top: 26px;
    padding: 0 30px 12px 0;
    transition: all ease 0.3s;
}

.blog-item__story {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    padding: 7px 34px;
    text-align: center;
    color: #000000;
    background: #e2eddf;
    border-radius: 20px;
    transition: 0.3s;
}

.blog-item__story:hover {
    background: var(--primary-color);
    color: #e2eddf;
    cursor: pointer;
}

.blog-item__title {
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
}

.blog-item__separate {
    margin-top: 38px;
    width: 300px;
    height: 1px;
    background: #c4c4c4;
}

.blog-item:not(:last-child) .blog-item__separate {
    margin-top: 9px;
}

.blog-item__date {
    margin: 16px 0 0 210px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* ---------- Footer ---------- */
.footer {
    margin-top: 102px;
    background: var(--primary-color);
    padding: 72px 0 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #ffffff;
}

.footer__form {
    display: flex;
    margin-top: 15px;
}

.footer__input {
    padding: 10px 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #6a8383;
    border: none;
    outline: none;
    background: transparent;
}

.footer__btn {
    margin-left: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.footer__separate {
    margin-top: 22px;
    width: 360px;
    height: 1px;
    background: #6a8383;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 47px;
}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    transition: 0.25s;
}

.footer__link:hover {
    background: #a75325;
}

.footer__icon {
    width: 20px;
    height: 20px;
}

.footer__right {
    display: flex;
    gap: 50px;
    margin-top: 22px;
}

.footer__heading {
    color: #fff;
}

.footer__list {
    margin-top: 10px;
}

.footer__list a {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
}

.footer__list li:hover a {
    text-decoration: underline;
}

.footer__bottom-line {
    margin-top: 45px;
    width: 1140px;
    height: 1px;

    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
